<main class="min-h-screen flex items-center justify-center">
  <div class="bg-pattern"></div>
  <app-navbar></app-navbar>
  <div class="container">
    <div class="heading">Registrarse</div>
    <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <input
          class="input"
          type="text"
          name="name"
          id="name"
          placeholder="Nombre"
          formControlName="name"
        />
        <div class="error-message" *ngIf="registerForm.get('name')?.hasError('required') && registerForm.get('name')?.touched">
          Por favor, rellena este campo obligatorio
        </div>
        <div class="error-message" *ngIf="registerForm.get('name')?.hasError('pattern') && registerForm.get('name')?.touched">
          Por favor, usa solo letras en este campo
        </div>
      </div>
      <div class="input-group">
        <input
          class="input"
          type="text"
          name="apPaterno"
          id="apPaterno"
          placeholder="Apellido Paterno"
          formControlName="apPaterno"
        />
        <div class="error-message" *ngIf="registerForm.get('apPaterno')?.hasError('required') && registerForm.get('apPaterno')?.touched">
          Por favor, rellena este campo obligatorio
        </div>
        <div class="error-message" *ngIf="registerForm.get('apPaterno')?.hasError('pattern') && registerForm.get('apPaterno')?.touched">
          Por favor, usa solo letras en este campo
        </div>
      </div>
      <div class="input-group">
        <input
          class="input"
          type="text"
          name="apMaterno"
          id="apMaterno"
          placeholder="Apellido Materno"
          formControlName="apMaterno"
        />
        <div class="error-message" *ngIf="registerForm.get('apMaterno')?.hasError('required') && registerForm.get('apMaterno')?.touched">
          Por favor, rellena este campo obligatorio
        </div>
        <div class="error-message" *ngIf="registerForm.get('apMaterno')?.hasError('pattern') && registerForm.get('apMaterno')?.touched">
          Por favor, usa solo letras en este campo
        </div>
      </div>
      <div class="input-group">
        <input
          class="input"
          type="email"
          name="email"
          id="email"
          placeholder="Correo Electrónico"
          formControlName="email"
        />
        <div class="error-message" *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched">
          Por favor, rellena este campo obligatorio
        </div>
        <div class="error-message" *ngIf="registerForm.get('email')?.hasError('pattern') && registerForm.get('email')?.touched">
          Porfavor ingresa un correo electrónico válido
        </div>
      </div>
      <div class="input-group">
        <input
          class="input"
          type="password"
          name="password"
          id="password"
          placeholder="Contraseña"
          formControlName="password"
        />
        <div class="error-message" *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched">
          Por favor, rellena este campo obligatorio
        </div>
        <div class="error-message" *ngIf="registerForm.get('password')?.hasError('maxlength') && registerForm.get('password')?.touched">
          La contraseña no debe exceder los 20 caracteres
        </div>
      </div>
      <div class="input-group">
        <input
          class="input"
          type="date"
          name="fechaNacimiento"
          id="fechaNacimiento"
          placeholder="Fecha de Nacimiento"
          formControlName="fechaNacimiento"
        />
        <div class="error-message" *ngIf="registerForm.get('fechaNacimiento')?.hasError('required') && registerForm.get('fechaNacimiento')?.touched">
          Por favor, rellena este campo obligatorio
        </div>
      </div>
      <input class="login-button" type="submit" value="Registrarse" [disabled]="registerForm.invalid">
      <div class="error-message" *ngIf="formSubmitted && isFormEmpty()">
        Por favor, ingrese los datos requeridos para el registro
      </div>
    </form>
    <span class="agreement">
      <a href="javascript:void(0)" (click)="showLicenseModal()">Conoce el acuerdo de licencia de usuario</a>
    </span>

    <!-- Modal para mostrar éxito o error -->
    <div class="modal" *ngIf="showModal">
      <div class="finmate-card">
        <div class="finmate-card-balance">
          <p class="finmate-card-label" [ngClass]="{'success': modalType === 'success', 'error': modalType === 'error'}">
            {{ modalMessage }}
          </p>
        </div>
      </div>
    </div>

    <!-- Modal para el acuerdo de licencia -->
    <div class="modal" *ngIf="showLicenseModalFlag">
      <div class="finmate-card">
        <div class="finmate-card-balance">
          <p class="finmate-card-label">Acuerdo de Licencia de Usuario</p>
          <p class="finmate-card-text">
            Al registrarte, aceptas los términos y condiciones de nuestro servicio. 
            Nos comprometemos a proteger tu información personal y a ofrecerte productos 
            hidropónicos de la más alta calidad. Para más detalles, consulta nuestra 
            política de privacidad y términos de uso en nuestro sitio web.
          </p>
          <button class="modal-close-button" (click)="closeLicenseModal()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</main>