<footer class="bg-verde-oscuro text-white">
  <div class="max-w-7xl mx-auto px-4 py-12">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <!-- Sección de Logo y Redes Sociales -->
      <div>
        <div class="flex items-center mb-4">
          <mat-icon class="h-6 w-6 mr-2">spa</mat-icon>
          <span class="font-bold text-xl">Green Life</span>
        </div>
        <p class="text-verde-claro mb-4">Cosechadas hoy, entregadas hoy. Disfruta de la frescura de nuestras lechugas
          hidropónicas.</p>
        <div class="flex space-x-4">
          <a href="https://www.facebook.com/hidrogreenlife" class="text-white hover:text-verde-claro">
            <mat-icon class="h-25 w-25">facebook</mat-icon>
          </a>
        </div>
      </div>

      <!-- Enlaces Rápidos -->
      <div>
        <h3 class="font-bold text-lg mb-4">Enlaces Rápidos</h3>
        <ul class="space-y-2">
          <li>
            <a routerLink="/" class="text-verde-claro hover:text-white">Inicio</a>
          </li>
          <li>
            <a routerLink="/productos" class="text-verde-claro hover:text-white">Productos</a>
          </li>
          <li>
            <a routerLink="/recetas" class="text-verde-claro hover:text-white">Recetas y Tips</a>
          </li>
          <li>
            <a routerLink="/contacto" class="text-verde-claro hover:text-white">Contacto</a>
          </li>
        </ul>
      </div>

      <!-- Contacto -->
      <div>
        <h3 class="font-bold text-lg mb-4">Contactos</h3>
        <ul class="space-y-2">
          <li class="flex items-center">
            <mat-icon class="h-4 w-4 mr-2">email</mat-icon>
            <span>romero_carmen&#64;outlook.es</span>
          </li>
          <li class="flex items-center">
            <mat-icon class="h-4 w-4 mr-2">phone</mat-icon>
            <span>+52 238 178 1863</span>
          </li>
          <h3></h3>
          <li class="flex items-center">
            <mat-icon class="h-4 w-4 mr-2">email</mat-icon>
            <span>amada&#64;outlook.es</span>
          </li>
          <li class="flex items-center">
            <mat-icon class="h-4 w-4 mr-2">phone</mat-icon>
            <span>+52 238 120 5966</span>
          </li>
          <h3></h3>
          <li class="flex items-center">
            <mat-icon class="h-4 w-4 mr-2">email</mat-icon>
            <span>flavia&#64;outlook.es</span>
          </li>
          <li class="flex items-center">
            <mat-icon class="h-4 w-4 mr-2">phone</mat-icon>
            <span>+52 238 188 3674</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="border-t border-verde-medio mt-8 pt-8 text-center text-verde-claro">
      <p> Green Life. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>